.contacts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contacts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.contacts .line {
  width: 100%;
  border: 1px solid rgb(121, 17, 207);
  position: absolute;
  bottom: 0;
  margin-bottom: 5em;
}
.contacts-container .text p {
  padding: 1em 0;
}
.contacts-container .text .contacts-list {
  display: flex;
  gap: 2em;
  font-size: 1.5em;
  padding: 2em 0;
}
.contacts-container .list-item {
  background:  rgb(20, 19, 20);
  padding: 10px;
}
.contacts-container .list-item:hover{
  border: 1px solid greenyellow;
}
.address{
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
}
.address a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.address p:hover{
  color: rgb(121, 17, 207);;
}
.address i{
  color:greenyellow;
}
.address a:hover i , .address a:hover p{
 color: rgb(121, 17, 207);;


}
