.contacts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contacts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.contacts .line {
  width: 100%;
  border: 1px solid orange;
  position: absolute;
  bottom: 0;
  margin-bottom: 5em;
}
.contacts-container p span, .contacts-container .text h3 span {
  color: orange;
}
.contacts-container .text p {
  color: orange;
  padding: 1em 0;
}
.contacts-container p span, .contacts-container .text h3{
  color: greenyellow;
}
.contacts-container .text .contacts-list {
  display: flex;
  gap: 2em;
  font-size: 1.5em;
  padding: 2em 0;
}
.contacts-container .list-item {
  border: 1px solid greenyellow;
  padding: 10px;
}
.contacts-container .list-item:hover{
  color: greenyellow;
}
.address{
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
}
.address a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.address i{
  color: orange;
}
.address:hover i{
color: greenyellow;
}
