header {
  background: rgb(1, 0, 3) 10%;
  height: 15hv;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .line {
  border-color: rgb(27, 5, 46);
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 5em;
}
.heading .menu-bars {
  display: none;
}
.heading .logo {
  font-size: 3em;
  color: greenyellow;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid rgb(121, 17, 207);
}
.heading .logo:hover {
  color: rgb(121, 17, 207);
}
.heading .navegation {
  display: flex;
  gap: 2em;
  font-size: 2em;
}
.heading .navegation-item {
  color: greenyellow;
}
.heading .navegation-item:hover {
  color: rgb(121, 17, 207);
}
.heading .navegation-item span {
  color: rgb(121, 17, 207);
}
@media (max-width: 500px) {
  .navegation-bars {
    width: 180px;
    position: absolute;
    left: -7em;
    top: 3em;
    border: 1px solid greenyellow;
  }
}

@media (max-width: 760px) {
  header {
    padding: 2em;
  }
  .heading .logo {
    font-size: 2em;
    margin-left: 1em;
  }
  .heading .navegation {
    display: none;
  }
  header input:checked ~ .navegation-bars {
    display: block;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
  }
  .heading .menu-bars {
    position: relative;
    display: block;
  }
  .icon-bars {
    font-size: 3em;
    color: greenyellow;
    cursor: pointer;
  }
  .icon-bars:hover {
    color: rgb(121, 17, 207);
  }

  .navegation-bars .navegation-item {
    padding: 1em;
  }
}
