
.home {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .home-container {
  height: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .home-container .name {
  font-size: 3.5em;
}
main .home-container .introduction {
  max-width: 65ch;
  margin-top: 1em;
}
main .home-container a {
 color: orange;
 padding-top: 1em;
}
main img {
  max-width: 20%;
}
h2 {
  color: orange;
}
p {
  color: greenyellow;
}
main li {
  color: orange;
}
@media (max-width: 500px) {
  main .home-container .name {
    font-size: 2em;
  }
}
