main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home{
  display: none;
}
main .home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
main .home-container .text{
  padding: 0 2em;
}
main .home-container .name {
  font-size: 3.5em;
}
main .home-container .introduction {
  max-width: 65ch;
  margin-top: 1em;
}
main .home-container .languages {
  display: flex;
  gap: 2em;
  margin-top: 1em;
}
main img {
  max-width: 20%;
}
h2 {
  color: orange;
}
p {
  color: greenyellow;
}
main li {
  color: orange;
}
@media (max-width: 500px) {
  main .home-container .name {
  font-size: 2em;
}
}
