.home {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .home-container {
  height: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .home-container .apresentation{
  color: white;
}
main .home-container .name {
  font-size: 3.5em;
}
main .home-container .introduction {
  max-width: 65ch;
  margin-top: 1em;
  color: grey;
}
main .home-container a {
 color:  greenyellow;
 padding-top: 1em;
}
main .home-container a:hover{
  color:rgb(121, 17, 207);
}
main img {
  max-width: 20%;
}
p {
  color: grey;

}
main li {
  color: rgb(121, 17, 207);

}
@media (max-width: 990px) {
  main .home-container {
    padding: 3em 2em 0;
    text-align: center;
  }
  main .home-container .name {
    font-size: 2em;
  }
}
@media(max-width:1270px){
.home{
  padding: 2em;
}
}